#universe{
    background-color: black;
    height: 500px;
    width: 500px;
    margin: 50px;
    position: relative;
}

.planet{
    background-color: white;
    
    border-radius: 100%;
    position: absolute;
}