html, body {
    background-color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#universe{    
    height: 500px;
    width: 500px;
    position: relative;
}

.planet{
    background-color: white;
    border-radius: 100%;
    position: absolute;
    
}

.hidden {
     opacity: 0;
     animation: fadeOut 4s;    
  }

@keyframes fadeOut {
    0% {opacity: 0.6; transform: scale(1)}
    99% {opacity: 0; transform: scale(0)}
}