#universe{
    background-color: black;
    height: 500px;
    width: 500px;
    margin: 50px;
    position: relative;
}

.planet{
    background-color: white;
    border-radius: 100%;
    position: absolute;
    
}

.hidden {
     opacity: 0;
     animation: fadeOut 0.5s;    
     animation-iteration-count: 1; 
  }

@keyframes fadeOut {
    0% {opacity: 1}
    99% {opacity: 0;}
}